* {
  margin: 0;
	padding: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins-Thin";
  src: url(./assets/fonts/Poppins-Thin.ttf);
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url(./assets/fonts/Poppins-ExtraLight.ttf);
  font-weight: 200%;
}

@font-face {
  font-family: "Poppins-Light";
  src: url(./assets/fonts/Poppins-Light.ttf);
  font-weight: 300%;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(./assets/fonts/Poppins-Regular.ttf);
  font-weight: 400%;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(./assets/fonts/Poppins-Medium.ttf);
  font-weight: 400%;
}

@font-face {
  font-family: "RobotoMono";
  src: url(./assets/fonts/RobotoMono-Regular.ttf);
}

html {
  scroll-behavior: smooth;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 1.5em;
  background-color: #181818;
  color: #3b3b3b;
}

h1 {
  font-family: "Poppins-Thin";
  font-size: 32px;
  letter-spacing: 2.5px;
}

h2 {
  font-family: "Poppins-Light";
  font-size: 22px;
  letter-spacing: 1.5px;
}

h3 {
  font-family: "Poppins-Thin";
  font-size: 12px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

h4 {
  font-family: "Poppins-Medium";
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.left-side a {
  color: #f2f2f2;
}

.right-side a {
  color: #3b3b3b;
}

a:hover,
.github-link:hover {
  cursor: pointer;
  color: #fc714d;
  transition: .3s;
}

img {
  object-fit: cover;
}

span {
  font-weight: 600;
}

.icon {
  width: 22px;
  height: auto;
  margin: 0 15px 0 0;
}

.nav,
.main-container,
.footer-container {
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.section {
  padding: 0 30px;
}

/*--only-header--*/

.nav-list {
  background-color: #3b3b3b;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  width: 100%;
  border-bottom: 3px solid #FC714D;
}

.nav-link {
  display: block;
  text-align: center;
  padding: 5px 20px;
  color: #f2f2f2;
  font-size: 12px;
}

/*--only-header--*/
/*--only-main--*/

.main {
  display: block;
  margin-bottom: auto;
}

.section-title {
  padding: 30px 0 10px;
}

.section-item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 0 20px 0;
}

/*--only-left-side--*/

.left-side {
  position: relative;
  width: 320px;
  background-color: #3b3b3b;
  color: #f2f2f2;
  z-index: 1;
  border-right: 3px solid #FC714D;
}

.left-side .section-list {
  font-family: "Poppins-Light";
  list-style: none;
}

.profile-photo {
  margin: 10px 28px 0;
  object-position: center top;
  border-radius: 50%;
}

.name-title {
  padding: 15px 0 0;
}

.job-title {
  position: relative;
  padding: 10px 0 30px;
}

/*--only-left-side--*/
/*--only-right-side--*/

.right-side {
  position: relative;
  background-color: #f2f2f2;
  color: #3b3b3b;
  z-index: 1;
}
.right-side .section-text,
.right-side .section-list {
  padding: 0 0 0 40px;
  font-size: 16px;
}

.right-side .text_small {
  font-size: 13px;
  text-indent: 4%;
}

.section__summary {
  margin: 0 0 15px;
  max-width: 768px;
}

.section__summary .section-title {
  font-size: 12px;
  letter-spacing: 0;
}

.skills-list,
.language-list {
  display: flex;
  justify-content: left;
  gap: 3%;
  flex-wrap: wrap;
}

.symbol::before {
  content: "\25CD";
  color: #fc714d;
}

.small-title {
  padding-top: 0;
  letter-spacing: 1.5px;
}

.right-side .section-list {
  font-family: "Poppins-Regular";
  list-style: none;
}

.quote-task-code {
  margin: 16px 0 16px 40px;
  background: #f2f2f2;
  color: #3b3b3b;
  padding: 3px 10px;
  position: relative;
  border-left: 22px solid #8f8f8f;
}

.quote-task-code::before {
  content: "\201C";
  font-family: serif;
  position: absolute;
  left: -17px;
  top: 12px;
  color: #f2f2f2;
  font-size: 30px;
}

.in-quote {
  padding-top: 0;
  padding-bottom: 16px;
}

.in-quote:last-child {
  padding-top: 0;
  padding-bottom: 0;
}

.solution-title {
  padding: 0 0 10px 40px;
}

code {
  font-family: "RobotoMono";
  color: #6e7528;
}

.example {
  padding: 5px 0;
  margin: 0 0 20px;
  position: relative;
  left: 40px;
  max-width: 90%;
  font-family: "RobotoMono";
  font-size: 14px;
  color: #3b3b3b;
  background-color: rgba(59, 59, 59, 0.2);
  background-size: cover;
  overflow-x: auto;
}

.purple {
  font-weight: normal;
  color: #540022;
}

.orange {
  font-weight: normal;
  color: #a24600;
}

.green {
  font-weight: normal;
  color: #6e7528;
}

.blue {
  font-weight: normal;
  color: #0c557c;
}

.projects-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 20px 0 20px;
}

.project {
  min-width: 50%;
}

.project-img {
  margin: 20px 0 20px;
  object-fit: cover;
  width: 80%;
  height: auto;
  border: 1px solid #fc714d;
  border-radius: 5%;
  filter: blur(1px);
}

.project-img:hover {
  box-shadow: 5px 5px 5px 5px rgba(252,113,77, 0.7);
  filter: blur(0);
}

.education-title {
  padding-bottom: 16px;
}

.education-list {
  margin: 0 0 0 30px;
  list-style-type: none;
  padding-bottom: 60px;
}

.education-list li::before {
  content: "\25CD";
  color: #fc714d;
  position: absolute;
  left: 70px;
}

.education-item {
  padding-top: 0;
  align-items: flex-start;
  flex-wrap: wrap;
}

.language-list {
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 0 0 20px;
}

/*--only-right-side--*/
/*--only-main--*/
/*--only-footer--*/

.footer-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  color: #f2f2f2;
  padding: 8px 20px;
  background-color: #3b3b3b;
  border-top: 3px solid #FC714D;
}

.year-and-git {
  display: flex;
  justify-content: space-between;
  gap: 255px;
  align-items: center;
}

.github-link {
  width: 40px;
  height: 40px;
  background: url(./assets/svg/github-mark_white.svg) no-repeat;
  background-size: contain;
}

.github-link:hover {
  background: url(./assets/svg/github-mark_orange.svg) no-repeat;
  transition: all 0s;
}

.rsschool-link {
  width: 108px;
  height: 40px;
  background: url(./assets/svg/footer-icon-rsschool_white.svg) no-repeat;
  background-size: contain;
}

/*--only-footer--*/

@media only screen and (max-width: 450px) {
  .left-side,
  .right-side {
		width: 100%;
	}
  .profile-photo {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 451px) and (max-width: 800px) {
	.left-side,
  .right-side {
		width: 50%;
    font-size: 0.8em;
	}
  .profile-photo {
    width: 100%;
    height: auto;
  }
  .section-title {
    font-size: 1em;
  }
  .quote-task-code {
    margin: 0;
    padding: 0;
    content: "";
    border-left: 0;
  }
}
