* {
  margin: 0 auto;
	padding: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins-Thin";
  src: url(./assets/fonts/Poppins-Thin.ttf);
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url(./assets/fonts/Poppins-ExtraLight.ttf);
  font-weight: 200%;
}

@font-face {
  font-family: "Poppins-Light";
  src: url(./assets/fonts/Poppins-Light.ttf);
  font-weight: 300%;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(./assets/fonts/Poppins-Regular.ttf);
  font-weight: 400%;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(./assets/fonts/Poppins-Medium.ttf);
  font-weight: 400%;
}

@font-face {
  font-family: "RobotoMono-SemiBold";
  src: url(./assets/fonts/RobotoMono-SemiBold.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  font-family: "Poppins-Regular";
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  background-color: #181818;
  color: #3b3b3b;
}

h1 {
  font-size: 28px;
  letter-spacing: 2.5px;
  line-height: 1.5em;
}

h2 {
  font-family: "Poppins-Regular";
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 1.5em;
}

h3 {
  font-size: 14px;
  letter-spacing: 2.5px;
  line-height: 2em;
  text-transform: uppercase;
}

h4 {
  font-family: "Poppins-Medium";
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.left-side a {
  color: #f2f2f2;
}

.right-side a {
  color: #3b3b3b;
}

a:hover,
.github-link:hover {
  cursor: pointer;
  color: #fc714d;
  transition: .3s;
}

img {
  object-fit: cover;
}

span {
  font-weight: 600;
}

code {
  font-family: "RobotoMono-SemiBold";
  color: #6e7528;
}

.code-example {
  padding: 10px;
  font-family: "RobotoMono-SemiBold";
  font-size: 14px;
  color: #3b3b3b;
  background-color: rgba(59, 59, 59, 0.2);
  overflow-x: auto;
}

.purple {
  font-weight: normal;
  color: #540022;
}

.orange {
  font-weight: normal;
  color: #a24600;
}

.green {
  font-weight: normal;
  color: #6e7528;
}

.blue {
  font-weight: normal;
  color: #0c557c;
}

.nav,
.main-container,
.footer-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
}

.section {
  padding: 0 30px;
}

/*--only-header--*/

.nav-list {
  background-color: #3b3b3b;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.nav-link {
  display: block;
  text-align: center;
  padding: 16px 20px;
  color: #f2f2f2;
  font-size: 12px;
}

/*--only-header--*/
/*--only-main--*/

.main {
  display: block;
  margin-bottom: auto;
}

.section-title {
  padding-top: 50px;
}

.section-text,
.section-item {
  padding-top: 16px;
}

/*--only-left-side--*/

.left-side {
  position: relative;
  width: 30%;
  background-color: #3b3b3b;
  color: #f2f2f2;
  z-index: 1;
}

.left-side .section-list {
  font-family: "Poppins-Light";
  list-style: none;
}

.profile-photo {
  margin: 11px;
  border: 1px solid #3b3b3b;
  border-radius: 50%;
  position: relative;
}

.skills-list {
  margin: 0 0 0 20px;
}

.skills {
  padding-top: 10px;
}

.skills::before {
    content: "\25CD";
    color: #f2f2f2;
    position: absolute;
    left: 30px;
}

/*--only-left-side--*/
/*--only-right-side--*/

.right-side {
  position: relative;
  width: 70%;
  background-color: #f2f2f2;
  color: #3b3b3b;
  padding: 0 30px;
  overflow: hidden;
  z-index: 1;
}

.small-title {
  padding-top: 0;
}

.right-side .section-list {
  font-family: "Poppins-Regular";
  list-style: none;
}

.right-side .section-text {
  font-family: "Poppins-Regular";
}

.job-title {
  position: relative;
  padding-top: 7px;
  padding-bottom: 19px;
}

.quote-task-code {
  margin: 16px 0;
  background: #f2f2f2;
  color: #3b3b3b;
  padding: 3px 16px;
  position: relative;
  border-left: 26px solid #8f8f8f;
}

.quote-task-code::before {
  content: "\201C";
  font-family: serif;
  position: absolute;
  left: -20px;
  top: 12px;
  color: #f2f2f2;
  font-size: 32px;
}

.in-quote {
  padding-top: 0;
  padding-bottom: 16px;
}

.in-quote:last-child {
  padding-top: 0;
  padding-bottom: 0;
}

.solution-title,
.experience-title {
  padding-top: 20px;
}

.education-title {
  padding-bottom: 16px;
}

.education-list {
  margin: 0 0 0 20px;
  list-style-type: none;
  padding-bottom: 60px;
}

.education-list li::before {
  content: "\25CD";
  color: #3b3b3b;
  position: absolute;
  left: 60px;
}

.education-item {
  padding-top: 0;
}

/*--only-right-side--*/
/*--only-main--*/
/*--only-footer--*/

.footer-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  color: #f2f2f2;
  padding: 8px 20px;
  background-color: #3b3b3b;
}

.year-and-git {
  display: flex;
  width: 30%;
  justify-content: left;
  gap: 20px;
  align-items: flex-end;
  align-items: center;
}

.github-link {
  width: 40px;
  height: 40px;
  background: url(./assets/svg/github-mark_white.svg) no-repeat;
  background-size: contain;
}

.github-link:hover {
  background: url(./assets/svg/github-mark_orange.svg) no-repeat;
  transition: all 0s;
}

.rsschool-link {
  width: 108px;
  height: 40px;
  background: url(./assets/svg/footer-icon-rsschool_white.svg) no-repeat;
  background-size: contain;
}

/*--only-footer--*/

@media only screen and (max-width: 450px) {
  .left-side,
  .right-side {
		width: 100%;
	}
  .profile-photo {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 451px) and (max-width: 800px) {
	.left-side,
  .right-side {
		width: 50%;
    font-size: 0.8em;
	}
  .profile-photo {
    width: 100%;
    height: auto;
  }
  .section-title {
    font-size: 1em;
  }
  .quote-task-code {
    margin: 0;
    padding: 0;
    content: "";
    border-left: 0;
  }
}
